* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #2874F0;
  --primary-heading: #212121;
--border-color: rgba(0, 0, 0, 0.128);
--primary-hover: #1d5cc1;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-heading);
}


.main {
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid var(--border-color);
}

.main-wrapper {
  max-width: 1550px;
  display: flex;
}

.sidebar-filter, .product-container{
  padding: 1rem;
}

.sidebar-filter header h1 {
  display: flex;
  justify-content: space-between;
}

.main-wrapper .sidebar-filter {
  width: 25%;
  border-right: 1px solid var(--border-color);
}

.filters-wrapper{
  padding: 1rem 0;
}

.filter{
  padding: .5rem;
}
.filter .filter-name{
  margin-bottom: 1rem;
}
.filter label{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.filter label input{
  margin-right: .5rem;
}

.products-wrapper{

  padding: 1rem;

}
.main-container{
  display: grid;
  grid-template-columns: 12rem 1fr;
}
.filter-section{
  padding:1rem;
  display: flex;
  flex-direction: column;
  border-right: 2px solid grey;;
}
.filter-section > *{
  padding:1rem;
}
.product-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.clear_filter{
  color: red;
  cursor: pointer;
}
.lists{
  list-style: none;
  font-size: 0.5rem;
}
@media screen and (min-width: 767px) {
  .products-wrapper{
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat( 4, minmax(250px, 300px) );
  }
  
}

